.content {
  text-align: center;
  padding-bottom: 4em;
}

.send-area {
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 49px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: solid 1px #ccc;
}

.send-area ons-input {
  display: inline-block;
  position: relative;
  width: calc(100% - 60px);
}

.send-area input {
  vertical-align: middle;
  position: relative;
  width: 98%;
}

.main_img_div {
  margin: 20px 0px;
  text-align: center;
}

.main_img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.camera {
  top: 70;
  left: 70;
}

.profile_head {
  width: 25%;
}

.photo {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

.container {
  justify-content: center;
}

.parent {
  display: flex;
  width: 100%;
}
.parent01 {
  justify-content: space-between;
}

.child {
  width: 60px;
  height: 60px;
  background: #3498db;
}

.child img {
  width: 60px;
  height: 60px;
}