.send-area {
  padding: 0 5px;
  box-sizing: border-box;
  line-height: 49px;
  position: fixed;
  z-index: 3;
  bottom: 0px;
  width: 100%;
  border-top: solid 1px #ccc;
  background-color: #E7EAED;

}

.send-area ons-input {
  display: inline-block;
  position: relative;
  width: calc(100% - 60px);
}

.send-area input {
  vertical-align: middle;
  position: relative;
  width: 98%;
}

.main_img_div {
  margin: 20px 0px;
  text-align: center;
}

.main_img {
  border-radius: 50%;
  width: 180px;
  height: 180px;
}

.profile_head {
  width: 25%;
}

.photo {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

.parent {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.child {
  width: 60px;
  height: 60px;
}

.child img {
  width: 60px;
  height: 60px;
}

.request_message_area {
  text-align: center;
  padding: 20px 0px 20px 0;
}

#chats {
  margin-bottom: 48px;
}

/* ------------------------------------------------------------------------------ */
/* 吹き出し                                                                       */
/* 参考：https://saruwakakun.com/html-css/reference/speech-bubble                 */
/* ------------------------------------------------------------------------------ */

.bubble_left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 25px;
  min-width: 120px;
  max-width: 100%;
  color: #000;
  font-size: 16px;
  background: #FFF;
  border: solid 2px #555;
  border-radius: 10px;
  box-sizing: border-box;
}

.bubble_left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 13px solid #FFF;
  z-index: 2;
}

.bubble_left:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -29px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

.bubble_right {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 25px;
  min-width: 120px;
  max-width: 100%;
  color: #000;
  font-size: 16px;
  background: #FFAD90;
  border: solid 2px #555;
  border-radius: 10px;
  box-sizing: border-box;
}

.bubble_right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 13px solid #FFAD90;
  z-index: 2;
}

.bubble_right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -29px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
}

